:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}

ul {
  list-style: none;
}

/* Logo*/
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}
/*site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.adress .link{
   color: var(--title-text-color);
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
}
.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}

/*Buttons*/
.button{
  color:var(--secondary-color);
  background-color: var(--accent-color);
}


/*Sections*/ 



