:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}

ul {
  list-style: none;
}

/*Цвет основного текста
#757575
*/
/*Цвет вторичного текста
#212121
*/
/*Интерактивный цвет
#2196F3
*/
/*Вспомагательный цвет
#FFFFFF
*/
.logo {
  color: var(--accent-color);
}
/*site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*hero*/
.hero-title {
}
/*Sections*/
.section-title {
  color: #212121;
  font-family: Roboto;
}
/*button*/
.button {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
